<h1 class="text-center mb-2">Product Catalog</h1>
@model List<Product>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var i in Model)
    {
        <div class="col">
        <div class="card h-100">
                <img src="@i.ImageUrl" style="max-height: 150px; width: fit-content; margin: 15px;" class="card-img-top mx-auto d-block" alt="@i.Title">
            <div class="card-body">
                    <h5 class="card-title">@i.Title</h5>
                    <p class="card-text">@i.Feedbacks</p>
            </div>
            <div class="card-footer">
                    <small class="text-body-secondary">@i.Price $</small> &nbsp;
                    <a class="btn btn-dark float-end" asp-controller="Home" asp-action="Details" asp-route-id="@i.Id">View</a>
            </div>
        </div>
    </div>
    }
</div>